@import "tailwindcss";

.bg-custom {
    background-image: url('/home.jpg');
    background-size: cover;
    background-position: center;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}
.no-scrollbar{
    scrollbar-width: none;
}